h5 {
  text-align: center;
  /* display: none; */
}

.media-body {
  /* display: none; */
  margin: auto;
  margin-top: 20px;
  margin: auto;
  max-width: 90%;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  border-style: double;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 20px;
  border-radius: 8px;
}
.mt-0 mb-1 {
  /* display: none; */
  margin: auto;
  margin-bottom: 40px;
}

.h1,
h1 {
  font-size: 2.5rem;
  text-decoration: underline;
}
.p-news {
  color: white;
  font-size: 20px;
  text-decoration: overline;
}

.localNews {
  font-family: "Alfa Slab One", cursive;
  font-size: 45px;
  color: black;
}

.outdoorNews {
  background-image: url(./abstract-21118_1920.jpg);
  background-size: cover;

  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 60px 74px black, 0 24px 141px rgb(0, 0, 0);
  color: black;
}

.articles {
  text-align: justify;
  margin-right: 25px;
  font-weight: bold;
  font-size: 25px;
}

.newsLink:hover {
  color: white;
}
