form {
  margin: auto;
  width: 90%;
  color: white;
}

p {
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn-1 {
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 80px;
}
.btn-1:hover {
  text-align: center;
  background-color: white;
  color: black;
}

#imagePath-2 {
  padding-left: 89px;
}

#button-2 {
  margin-bottom: 100px;
}
