.card {
  background: rgb(29, 177, 197);
  border-radius: 2px;
  height: auto;
  margin: 1.5rem;
  position: relative;
  width: auto;
  box-shadow: 0 6px 9px #999, 0 6px 9px rgb(0, 0, 0);
  text-align: left;
  border: solid 4px rgb(0, 0, 0);
  padding: 2px;
  border-radius: 25px;
}

.card:hover {
  transform: scale(1.1);
}

img {
  object-fit: contain;
  border-radius: 20px;
}

.card:hover {
  animation: shake 0.9s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(0.5deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-0.5deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0.5deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-0.5deg);
  }
}
