.landingJumbo {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  color: black;
  /* background: none; */
  /* background-image: linear-gradient(to bottom, #7996e6, #d7dde8, white); */
  /* background-image: url(./zion-park-139012_1920.jpg); */
  background-size: cover;
  /* background-color: black; */
  background: url(mountain-climbing-802099_1920.jpg);
  /* opacity: 0.2; */
  padding: 4px;
  margin: 10px 10px 10px;
  background-position: center;
  box-shadow: 0px 0px 0px 4px white;
  height: 506px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 101px;
  margin-top: 50px;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 106px;
  padding-top: 50px;
  font-family: "Alfa Slab One", cursive;
  color: rgb(29, 29, 29);
  text-decoration: none;
  text-shadow: 0px 0 rgb(255, 255, 255), 0 3px rgb(255, 253, 253),
    1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.lead {
  font-size: 1.55rem;
  font-weight: 400;
  color: black;
}

html:not(.no-js) [data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  margin-top: 0px;
}

.jumbotron {
  margin-top: 20px;
  box-shadow: 0 0 0 2pt rgb(255, 255, 255);
  border: solid 8px rgb(0, 0, 0);
  border-radius: 15px;
}

.jumboWrap {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 3px 90px #929, 0 12px 4px rgb(0, 0, 0);
}
