.weather {
  padding: 10px;
  margin: auto;
  margin-bottom: 204px;
}

.news {
  margin-bottom: 200px;
  align-items: flex-start;
  flex: 1;
}
body {
  background: url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80)
    no-repeat center fixed;
  background-size: cover;
}
