.weather {
  padding: 10px;
  margin: auto;
  margin-bottom: 204px;
}
.news {
  margin-bottom: 20px;
}

.news {
  margin-bottom: 20px;
  /* display: flex; */
  align-items: flex-start;
  flex: 1;
}
body {
  background-color: black;
}
