.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* margin-bottom: 150px; */
  margin-bottom: 129px;
  padding-bottom: 0;
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-style: none;
  padding-top: 2px;
  /* background-image: linear-gradient(
    to bottom,
    rgb(207, 209, 203),
    white,
    white
  ); */
  /* background-image: linear-gradient(to bottom, #7996e6, #d7dde8, white); */
  margin: 25px;
  /* border: 3px solid black; */
  border-radius: 10px;
  height: 92%;
  transition: all 0.25s ease-in-out;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.card-one:hover {
  transform: scale(1.07);
}

.img-mission {
  margin: auto;
  width: 150px;
  height: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-text:last-child {
  margin-bottom: 0;
  padding: 38px;
  padding-top: 1px;
  padding-bottom: 0px;
}

.mission-header {
  text-align: center;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 73px;
  margin-bottom: 50px;
  /* background-image: linear-gradient(to bottom, white); */
  /* background-color: black; */
  color: white;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 200px;
  /* border: 3px solid white; */
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  padding: 15px;
}

.mission-header:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.card-text {
  padding: 5px;
  font-family: "Gidugu", sans-serif;
  font-family: 15px;
}

.card-text:last-child {
  margin-bottom: 0;
  padding: 2px;
  padding-top: 1px;
  padding-bottom: 0px;
  font-size: 21px;
  color: white;
}

html:not(.no-js) [data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: none;
  margin-top: 0px;
  margin-bottom: -82px;
}
