.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-style: none;
  padding-top: 2px;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.img-mission {
  margin: auto;
  width: 150px;
  height: 150px;
}
.card-text:last-child {
  margin-bottom: 0;
  padding: 38px;
  padding-top: 1px;
}

.mission-header {
  text-align: center;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 63px;
}
