.featureCard {
  background-image: url(./fog-1535201_1920.jpg);
  background-size: cover;
  color: black;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 60px 74px black, 0 24px 141px rgb(0, 0, 0);
}

.p-feature {
  font-size: 20px;
  text-decoration: overline;
}

.featuredTitle {
  font-family: "Alfa Slab One", cursive;
  font-size: 45px;
}

.featuredItemText {
  font-size: 40px;
}

.featureEmail {
  font-size: 25px;
}

.featureCard h1 {
  color: black;
  text-shadow: 2px 2px #ffffff;
}

.featureDescription {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.featureEmail {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000000;
}
