.postJumbo {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  color: white;
  background: none;
  padding: 20px;
  width: 56%;
  margin: 0 auto;
}

.postLead {
  margin: 0;
  color: white;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 1.2;
  padding-bottom: 106px;
  padding-top: 50px;
  font-family: "Alfa Slab One", cursive;
  color: white;
  text-decoration: underline;
  text-shadow: 0px 0 rgb(0, 0, 0), 0 3px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0),
    0 -1px rgb(0, 0, 0);
}
