#weatherWidget {
  font-family: Tahoma, Arial, Verdana, Segoe, sans-serif;
  font-size: 1rem;
  /* width: 895px; */
  margin: auto;
  background-color: black !important;
}

a {
  width: 645px;
}
.container-weather {
  margin: auto;
  max-width: 1000px;
  /* box-shadow: 0 3px 70px #929, 0 12px 4px rgb(0, 0, 0); */
  border: solid 3px rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 20px 74px black, 0 24px 141px rgb(0, 0, 0);
  /* float: left; */
  grid: none;
}
.weatherwidget-io {
  display: inline;
  max-width: 1000px;
  position: absolute;
  height: 568px;
  padding: 0px;
  overflow: hidden;
  text-align: left;
  text-indent: 0px !important;
  flex: 1;
  /* display: inline !important; */
}
.currentWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  background-color: black;
  /* color: black; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.1em;
  padding: 0.5em 0.45em;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 43.75rem;
}

.weatherwidget-io {
  font-size: 0;
}

.weather-name {
  font-size: 38px;
  font-family: fantasy;
  text-decoration: underline;

  /* text-decoration: overline; */
  color: white;
}
