.searchCard {
  border-radius: 2px;
  margin: 1.5rem;
  position: relative;

  background-image: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
  box-shadow: 0 160px 74px black, 0 24px 141px rgb(0, 0, 0);
  text-align: left;
  border: solid 4px rgb(0, 0, 0);
  padding: 2px;
  border-radius: 15px;
  opacity: 0.95;
  transition: all 0.25s ease-in-out;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90%;
  text-align: center;
}

.searchCard:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #5433ff, #20bdff, #a5fecb);
}

.searchCard:hover .searchNames {
  width: 250px;
  padding: 0;
  width: auto;
  visibility: visible;
  opacity: 0.7;
  height: 56px;
  left: 50%;
  margin-left: -66px;
  top: 50%;
  margin-top: -20px;
}

.cardWrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  margin-bottom: 100px;
}

.itemTitle {
  font-family: "Alfa Slab One", cursive;
}

.searchCard:hover .itemTitle {
  color: white;
}

.price {
  font-weight: bold;
}

