a {
  color: black;
}
.btn {
  color: rgb(238, 231, 231);
  /* top: 5rem;
  right: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* margin: 2px 2px 2px 2px; */
  background-color: rgb(29, 29, 29);
  /* transition: transform 650ms ease-out; */
  border-style: solid;
  border-color: rgb(252, 252, 252);
  border-width: 2px;
  /* margin-top: 13px; */
  font-weight: 600;
  margin-top: 22px;
}
.btn:hover {
  transform: scale(1.1);
  color: rgb(27, 27, 27);
  background-color: rgb(255, 255, 255);
  border-color: black;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
  margin-bottom: 0px;
}

li {
  padding-top: 20px;
  height: 55px;
}
.nav-link {
  display: block;
  width: 130px;
  margin-top: 14px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  /* background: linear-gradient(to top, #000000, black, white); */
  background: white;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  /* font-family: "Libre Barcode 128 Text", cursive; */
  font-size: 16px;
}
.nav-link:hover {
  /* background: linear-gradient(to top, #a7a7a7, #5e5e5e, #000000, #ffffff); */
  /* background: linear-gradient(to top, black); */
  color: white;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}
.nav-item {
  /* padding-top: 70px; */
  padding: 6px;
  width: 114px;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 5px 5px 5px;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
/* .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 7px;
} */
img {
  width: 87px;
  height: 87px;
  margin: auto;
}
.navbar-toggler {
  /* color: black; */
  border-style: double;
  border-color: black;
  /* background-color: black; */
}

/* [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  float: right;
  margin: 31px;
} */

.navbar-toggler {
  cursor: pointer;
  float: right;
  margin: 31px;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-collapse .btn {
  float: left;
  /* background: black; */
}
.navbar-toggler-icon {
  width: 100%;
  padding-top: 3px;
}
/* ul.nav {
  margin-right: 0px;
  /* margin: auto; */

#navCollapse {
  width: auto;
  /* margin-left: 88px; */
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    /* background: grey; */
    color: black;
    padding: 4px;
    padding: 4px;
    border-style: double;
    margin-top: 38px;
    border-radius: 18px;
    margin-left: 88px;
    /* width: ; */
  }
  .navbar-collapse .btn {
    margin: auto;
    left: 0;
    align-content: left;
    margin-bottom: 10px;
    /* margin: auto; */
    left: 0;
    margin-top: 13px;
    align-content: left;
  }
  .ml-auto,
  .mx-auto {
    margin-left: 8px !important;
    margin-bottom: 0px;
    /* margin-right: 403px; */
  }
  .nav-link {
    padding-top: 10px;
    text-decoration: underline black;
  }
}

.navbar-expand-lg {
  overflow: hidden;
  /* background-image: linear-gradient(
    to bottom,
    rgba(207, 209, 203, 0.85),
    rgba(91, 109, 99, 0.85)
  ); */
  background-color: black;
  /* height: 110px; */
  border-bottom: 3px solid white;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.navbar-expand-lg a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* border-bottom: 3px solid transparent; */
}

.navbar-expand-lg a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
}

/* .navbar-expand-lg a::after {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
} */

.nav .active {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  color: white;
  border: white;
  border-style: double;
  padding: 11px;
  margin: 15px;
}
