a {
  color: black;
}
.btn {
  color: black;
  top: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 2px 2px 2px 2px;
  background-color: white;
  transition: transform 650ms ease-out;
  border-style: double;
  border-color: black;
  margin-top: 13px;
}
.btn:hover {
  color: white;
  background-color: black;
  border-color: black;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
  margin-bottom: 0px;
}

li {
  padding-top: 20px;
  height: 55px;
}
.nav-link {
  display: block;
  width: 130px;
  margin-top: 14px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background: linear-gradient(to top, #000000, black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: "Libre Barcode 128 Text", cursive; */
  font-size: 16px;
}
.nav-link:hover {
  background: linear-gradient(to top, #4776e6, #8e54e9, #000000, #20bdff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-item {
  /* padding-top: 70px; */
  padding: 6px;
  width: 114px;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 5px 5px 5px;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
/* .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 7px;
} */
img {
  width: 87px;
  height: 87px;
  margin: auto;
}
.navbar-toggler {
  /* color: black; */
  border-style: double;
  border-color: black;
  /* background-color: black; */
}

/* [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  float: right;
  margin: 31px;
} */

.navbar-toggler {
  cursor: pointer;
  float: right;
  margin: 31px;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  /* padding: 12px; */
  /* width: 100%; */
  /* background-color: gainsboro; */
}
.navbar-collapse .btn {
  float: left;
  /* background: black; */
}
.navbar-toggler-icon {
  width: 100%;
  padding-top: 3px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    /* background: grey; */
    color: black;
    padding: 4px;
    padding: 4px;
    border-style: double;
    margin-top: 38px;
    border-radius: 18px;
    /* width: ; */
  }
  .navbar-collapse .btn {
    margin: auto;
    left: 0;
    align-content: left;
  }
  .ml-auto,
  .mx-auto {
    margin-left: 8px !important;
    margin-bottom: 0px;
    /* margin-right: 403px; */
  }
  .nav-link {
    padding-top: 10px;
    text-decoration: underline black;
  }
}
